<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sbfnk.mail-sync</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>C1A2B3D4-0001-4A00-9000-000000000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A2B3D4-0002-4A00-9000-000000000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sebastian Funk</string>
	<key>description</key>
	<string>Sync one, several or all mail accounts with getmail.sh</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mail Sync</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mail</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading accounts...</string>
				<key>script</key>
				<string>python3 mail_filter.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Sync mail accounts</string>
				<key>title</key>
				<string>Mail Sync</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C1A2B3D4-0001-4A00-9000-000000000001</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>nohup "$HOME/.local/bin/getmail.sh" $1 &gt;&gt; "$HOME/.log/getmail.log" 2&gt;&amp;1 &amp;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1A2B3D4-0002-4A00-9000-000000000002</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Mail Sync

Sync mail accounts on demand. The sketchybar mail item spins while mbsync runs.

### Usage

```
mail            all accounts, plus one entry per account
mail work       one account (name, address or notmuch search key)
mail work pub   several accounts in one sync
```

Accounts are read from `~/.config/email/accounts.yaml`; the action runs
`~/.local/bin/getmail.sh` and logs to `~/.log/getmail.log`.
</string>
	<key>uidata</key>
	<dict>
		<key>C1A2B3D4-0001-4A00-9000-000000000001</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>C1A2B3D4-0002-4A00-9000-000000000002</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
