<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computers//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>none.worktree.gc</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__HOME__/.local/bin/worktree-gc</string>
		<string>--apply</string>
	</array>
	<key>StandardOutPath</key>
	<string>__HOME__/.log/worktree-gc.out</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/.log/worktree-gc.err</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Weekday</key>
		<integer>0</integer>
		<key>Hour</key>
		<integer>12</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
</dict>
</plist>
