<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computers//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>none.mail.sendqueue</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/timelimit</string>
		<string>-t</string>
		<string>45</string>
		<string>/Users/eidesfun/.local/bin/msmtp-queue</string>
		<string>-r</string>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/eidesfun/.log/msmtpq.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/eidesfun/.log/msmtpq.err</string>
	<key>StartInterval</key>
	<integer>90</integer>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
</dict>
</plist>
